{# src/Blogger/BlogBundle/Resources/views/Comment/form.html.twig #}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {# {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %} #}

<form action="{{ path('BloggerBlogBundle_comment_create', { 'blog_id' : comment.blog.id } ) }}" method="post" {{ form_enctype(form) }} class="input-group">
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-default">{{ 'Submit'|trans }}</button>
    </p>
</form>